
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Order List</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">


      <!-- fab placed to the (vertical) center and end -->
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="bottom: 10vh;">
          <ion-fab-button (click)="addProduct()">
            <ion-icon name="add"></ion-icon>
          </ion-fab-button>
        </ion-fab>

        <!-- <ion-searchbar showCancelButton="focus" (ionInput)="findInventoryName($event)"></ion-searchbar> -->

      <ion-list>
        <ion-grid>
          <ion-row style="background-color: #FAFAFA;" *ngFor="let list of allList">
            <ion-col size="3" *ngIf="list.image">
              <img src="{{list.image}}" class="imageSize">
            </ion-col>
            <ion-col class="textClass">
              <b>{{list.product_name}}</b>
             <!-- <p>Available Quantity : {{list.qty_per_unit}}</p> -->
             <p>Price : $ {{list.unit_price}}</p>
            </ion-col>

            <ion-col size="3" style="top: 6vw;padding: 0px;">
              <ion-col (click)="removeQty(list.id)" style="padding: 0px;font-size: 15px;top: 2px;">
                <ion-icon name="remove-outline" style="background-color: #dee2e6cc;"></ion-icon>
              </ion-col>
              <ion-col style="padding:0px">
                <input type="number" value="{{list.order_qty}}" style="width: 5vh;height: 3vh;font-size: 13px;" (input)='changeQty($event.target.value ,list.id)'>
              </ion-col>
              <ion-col (click)="addQty(list.id)" style="padding: 0px;font-size: 15px;top: 2px;">
                <ion-icon name="add-outline" style="background-color: #dee2e6cc;"></ion-icon>
              </ion-col>
            </ion-col>
            <ion-col size="1"  style="top: 6vw;color: red;padding: 0px;">
              <i class="fas fa-trash" (click)="deleteOrderList(list.id)"></i>
            </ion-col>

          </ion-row>
          </ion-grid>
    </ion-list>

      <ion-button (click)="orderCheckoutPage()" class="orderButton" expand="full" >Proceed To checkout</ion-button>
      
  </ion-content>
  