.designView{
    background-color: #6B3D1A;
    border-radius: 0px 0px 81px 80px;
    height: 42vw;
}

img{
    height: 69px;
    margin: 7vw 4vw 1vw 7vw;
}

strong{
    color: #DA980C;
    margin: 2px;
}

small{
    font-size: 15px;
    font-weight: 590;
}
ion-list{
    padding: 0px;
    margin: 0px;
}
ion-item{
    padding: 0px;
    margin: 0px;
}

.trackRoundDefault {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    border: 1px solid #DA980C;
    margin-left: 12px;
}

.barClassDefault {
    height: 50px;
    width: 10px;
    padding: 0px;
    margin-left: 17px;
    border-radius: 25px;
}

ion-col{
    padding-top: 0px;
    padding-bottom: 0px;
}