<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Order Tracking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="designView">
    <ion-grid>
      <ion-row *ngIf="orderDetails">
        <ion-col size="4">
          <img src="assets/icons/delivery.png">
        </ion-col>
        <ion-col style="margin-top: 4vh;text-align: start;">
          <strong>Estimated Date Of Delivery</strong><br>
          <strong>{{orderDetails.order_date.slice(0,10)}}</strong><br>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-grid>
    <ion-row *ngIf="orderDetails">
      <ion-col size="2">
        <div
          *ngIf="orderDetails.status == 1 || orderDetails.status == 2 || orderDetails.status == 3 || orderDetails.status == 4 || orderDetails.status == 5 ">
          <div class="trackRoundDefault" style="background-color: #DA980C;"></div>
          <div class="barClassDefault" style="background-color: #DA980C;"></div>
        </div>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <small>Ordered</small>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="orderDetails">
      <ion-col size="2">
        <div *ngIf="orderDetails.status == 1">
          <div class="trackRoundDefault" style="background-color: #dee2e6;"></div>
          <div class="barClassDefault" style="background-color: #dee2e6;"></div>
        </div>
        <div
          *ngIf="orderDetails.status == 2 || orderDetails.status == 3 || orderDetails.status == 4 || orderDetails.status == 5 ">
          <div class="trackRoundDefault" style="background-color: #DA980C;"></div>
          <div class="barClassDefault" style="background-color: #DA980C;"></div>
        </div>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <small>Order Accepted</small>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="orderDetails">
      <ion-col size="2">
        <div *ngIf="orderDetails.status == 1 || orderDetails.status == 2 ">
          <div class="trackRoundDefault" style="background-color: #dee2e6;"></div>
          <div class="barClassDefault" style="background-color: #dee2e6;"></div>
        </div>
        <div *ngIf="orderDetails.status == 3 || orderDetails.status == 4 || orderDetails.status == 5 ">
          <div class="trackRoundDefault" style="background-color: #DA980C;"></div>
          <div class="barClassDefault" style="background-color: #DA980C;"></div>
        </div>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <small>Shift To Driver</small>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="orderDetails">
      <ion-col size="2">
        <div *ngIf="orderDetails.status == 1 || orderDetails.status == 2">
          <div class="trackRoundDefault" style="background-color: #dee2e6;"></div>
          <div class="barClassDefault" style="background-color: #dee2e6;"></div>
        </div>
        <div *ngIf="orderDetails.status == 3 || orderDetails.status == 4 || orderDetails.status == 5 ">
          <div class="trackRoundDefault" style="background-color: #DA980C;"></div>
          <div class="barClassDefault" style="background-color: #DA980C;"></div>
        </div>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <small>In Transit</small>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="orderDetails">
      <ion-col size="2">
        <div
          *ngIf="orderDetails.status == 1 || orderDetails.status == 2 || orderDetails.status == 3 || orderDetails.status == 4">
          <div class="trackRoundDefault" style="background-color: #dee2e6;"></div>
          <div class="barClassDefault" style="background-color: #dee2e6;"></div>
        </div>
        <div *ngIf="orderDetails.status == 5 ">
          <div class="trackRoundDefault" style="background-color: #DA980C;"></div>
          <div class="barClassDefault" style="background-color: #DA980C;"></div>
        </div>
        <div
          *ngIf="orderDetails.status == 1 || orderDetails.status == 2 || orderDetails.status == 3 || orderDetails.status == 4">
          <div class="trackRoundDefault" style="background-color: #dee2e6;"></div>
        </div>
      </ion-col>
      <ion-col>
        <ion-list>
          <ion-item>
            <small>Delivered</small>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>