p{
    margin: 1px;
    padding: 0px;
    font-size: 3vw;
}
b{
    color: #6B3D1A;
}
.scroll-content {
    padding-top: 0px !important;
  }
.iconClass {
    padding: 0px;
    margin: 5vw 0vw 0vw 0vw
}

ion-icon {
    font-size: 4vh;
    margin-left: 1px;
}