.show-three{
    width: 27vw;
}

ion-segment-button{
    width: 30vw;
}

.text-color{
    color: #6B3D1A;
    font-weight: 700;
    margin-left: 3vw;
    margin-top: 4px;
    margin-bottom: 1px;
}
ion-col{
  //  text-align: center;
    padding: 0px;
    margin: 0px;
}
ion-row{
    padding: 0px;
    margin: 0px;
}

ion-card {
    padding: 0px;
    margin: 2vw;
}

.imageClass {
    height: 16vw;
    width: 27vw;
}

.textStyle{
    font-size: 3vw;
    color: #6B3D1A;
}

p{
    margin: 1px;
    font-size: 3vw;
}