<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Category List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <!-- Searchbar with cancel button shown on focus -->
  <ion-searchbar showCancelButton="focus" (ionInput)="findCategoryName($event)"></ion-searchbar>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let catagory of categories">
        <ion-card (click)="inventoryCatagory(catagory.id)">
          <img src="{{catagory.image}}" style="height: 35vw;
            width: 47vw;">
          <br>
          <strong class="ml-2">{{catagory.name}}</strong>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>