.trash{
    color: red;
    margin-right: 2vw;
    font-size: 6vw;
}
.edit{
    font-size: 6vw;
}

ion-row {
    background-color: #FAFAFA;
    margin-bottom: 2vw;
}

b{
    color: #6B3D1A;
    font-size: 13px;
}

.iconClass {
    padding: 0px;
    margin: 5vw 0vw 0vw 0vw
}

p{
    padding: 1px;
    margin: 1px;
    font-size: 4vw;
}

.imageSize {
    height: 21vw;
    width: 21vw;
}

ion-col {
    padding: 1px;
    margin: 1px;
}
ion-icon {
    font-size: 4vh;
    margin-left: 1px;
}
ion-grid{
    text-align: center;
}