p{
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    font-size: 11px;
}

h4 {
    font-size: 16px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
}

tr{
    padding: 4px;
    text-align: center;
}
th {
    padding: 1px;
    font-size: 11px;
}
td {
    padding: 3px !important;
    text-align: center;
    font-size: 12px;
}
tbody {
 padding: 2px;
}